*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }
  @media only screen and (max-width: 62.5em) {
    html {
      font-size: 55%; } }

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 1.8rem;
  color: #83869a;
  font-weight: 500;
  line-height: 2.8rem; }

.container {
  display: grid;
  grid-template-rows: repeat(4, min-content);
  grid-template-columns: [full-start] minmax(7rem, 1fr) [center-start] repeat(10, [col-start] minmax(min-content, 11.1rem) [col-end]) [center-end] minmax(7rem, 1fr) [full-end];
  overflow: hidden;
  background-image: linear-gradient(180deg, #ffffff 0%, #f0f1ff 100%); }
  @media only screen and (max-width: 51.25em) {
    .container {
      grid-template-columns: [full-start] minmax(3rem, 1fr) [center-start] repeat(10, [col-start] minmax(min-content, 11.1rem) [col-end]) [center-end] minmax(3rem, 1fr) [full-end]; } }

.hero__content {
  grid-column: center-start / col-end 5;
  display: grid;
  grid-template-rows: 14.8rem min-content 2.9rem min-content 4rem min-content 25rem;
  justify-items: start; }
  @media only screen and (max-width: 51.25em) {
    .hero__content {
      grid-column: center-start / center-end;
      grid-template-rows: 3rem min-content 3rem min-content 3rem min-content 65rem; } }
  .hero__content .hero__header {
    grid-row: 2;
    font-size: 5.6rem;
    font-weight: 800;
    line-height: 7.1rem;
    color: #13183f; }
  .hero__content .hero__text {
    grid-row: 4;
    width: 80%; }
  .hero__content .hero__btn {
    grid-row: 6; }

.hero__picture {
  grid-column: col-start 6 / center-end;
  position: relative; }
  @media only screen and (max-width: 56.25em) {
    .hero__picture {
      scale: 1.1; } }
  .hero__picture .hero__image {
    position: absolute;
    top: 30%;
    left: 95%;
    transform: translate(-50%, -50%); }
    @media only screen and (max-width: 56.25em) {
      .hero__picture .hero__image {
        top: 40%;
        left: 90%; } }
    @media only screen and (max-width: 51.25em) {
      .hero__picture .hero__image {
        top: -27rem;
        left: 1.5rem; } }

.features {
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  row-gap: 8rem;
  column-gap: 3rem; }
  .features .feature--active {
    background: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
    border-radius: 1.5rem;
    padding: 6.4rem 3.2rem 13.8rem 3.2rem; }
    .features .feature--active h2 {
      font-size: 3.2rem;
      font-weight: 800;
      line-height: 4rem;
      color: #fff; }
    @media only screen and (max-width: 51.25em) {
      .features .feature--active {
        padding: 4.4rem 3.2rem 4.4rem 3.2rem; } }
  .features .feature {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr min-content;
    row-gap: 2.4rem;
    background-color: #fff;
    padding: 6.4rem 3.2rem 4rem 3.2rem;
    box-shadow: 0px 2.5rem 5rem rgba(6, 22, 141, 0.0442381);
    border-radius: 1.5rem;
    position: relative; }
    .features .feature__heading {
      font-size: 2.4rem;
      font-weight: 800;
      line-height: 3rem;
      color: #13183f; }
    .features .feature__icon {
      position: absolute;
      top: -10%;
      left: 8%; }
    .features .feature__btn:link, .features .feature__btn:visited {
      text-decoration: none;
      font-weight: 700;
      color: #f74780;
      cursor: pointer;
      transition: color 0.3s; }
    .features .feature__btn:hover, .features .feature__btn:active {
      color: #ffa7c3; }

.btn:link, .btn:visited {
  display: inline-block;
  text-decoration: none;
  padding: 1.4rem 3.2rem;
  font-weight: 700;
  color: #fff;
  border-radius: 2.8rem;
  cursor: pointer; }

.header__btn:link, .header__btn:visited {
  z-index: 1;
  background-color: #13183f;
  transition: background 0.3s; }

.header__btn:hover, .header__btn:active {
  background-color: #666ca3; }

.hero__btn:link, .hero__btn:visited {
  background-image: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
  position: relative; }
  .hero__btn:link::before, .hero__btn:visited::before {
    position: absolute;
    content: "Get Started";
    padding: 1.4rem 3.2rem;
    height: 100%;
    width: 100%;
    inset: 0;
    border-radius: 3.2rem;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s linear; }

.hero__btn:hover::before, .hero__btn:active::before {
  opacity: 1; }

.footer__btn:link, .footer__btn:visited {
  background-image: linear-gradient(180deg, #4851ff -54.32%, #f02aa6 100%);
  position: relative; }
  .footer__btn:link::before, .footer__btn:visited::before {
    position: absolute;
    content: "Get Started";
    padding: 1.4rem 3.2rem;
    height: 100%;
    width: 100%;
    inset: 0;
    border-radius: 3.2rem;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #4851ff -54.32%, #f02aa6 100%);
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s linear; }

.footer__btn:hover::before, .footer__btn:active::before {
  opacity: 1; }

.header {
  grid-column: center-start / center-end;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.4rem 0; }

.footer {
  grid-column: full-start / full-end;
  background-color: #13183f;
  padding: 3.2rem 0;
  display: grid;
  grid-template-columns: minmax(6rem, 1fr) minmax(min-content, 111rem) minmax(6rem, 1fr); }
  .footer__content {
    grid-column: 2 / 3;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media only screen and (max-width: 51.25em) {
      .footer__content {
        grid-column: 1 / -1;
        padding: 3rem; } }

.copyright {
  font-family: "Grape Nuts", cursive;
  font-size: 1.8rem;
  text-align: end;
  margin-right: 1rem;
  color: #83869a; }
  .copyright a {
    color: #13183f; }

.mg-bg {
  margin-bottom: 14rem; }
