.features {
  grid-column: center-start / center-end;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  row-gap: 8rem;
  column-gap: 3rem;

  .feature--active {
    background: $gradient-feature;
    border-radius: 1.5rem;
    padding: 6.4rem 3.2rem 13.8rem 3.2rem;

    h2 {
      font-size: 3.2rem;
      font-weight: 800;
      line-height: 4rem;
      color: $color-white;
    }

    @media only screen and (max-width: $bp-small) {
      padding: 4.4rem 3.2rem 4.4rem 3.2rem;
    }
  }

  .feature {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr min-content;
    row-gap: 2.4rem;
    background-color: $color-white;
    padding: 6.4rem 3.2rem 4rem 3.2rem;
    box-shadow: 0px 2.5rem 5rem rgba(6, 22, 141, 0.0442381);
    border-radius: 1.5rem;

    position: relative;

    &__heading {
      font-size: 2.4rem;
      font-weight: 800;
      line-height: 3rem;
      color: $color-purple-dark;
    }

    &__icon {
      position: absolute;
      top: -10%;
      left: 8%;
    }

    &__btn:link,
    &__btn:visited {
      text-decoration: none;
      font-weight: 700;
      color: $color-rose;
      cursor: pointer;
      transition: color 0.3s;
    }

    &__btn:hover,
    &__btn:active {
      color: #ffa7c3;
    }
  }
}
